* {
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  outline: none;
  list-style-type: none;
  margin: 0;
}

body {
  background: aliceblue;
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fa-chevron-left {
  display: none;
}

.header {
  background: aliceblue;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 1rem;
  z-index: 999;
}

.header nav {
  display: flex;
  position: relative;
  margin: 0 auto;
  gap: 1.2rem;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.header nav i {
  box-shadow: rgba(15, 15, 35, 0.6);
  background: aliceblue;
  display: none;
  font-size: 1.5rem;
  border-radius: 5px;
  color: #20a2aa;
  padding: 4px 6px;
  cursor: pointer;
}

.header nav .logo-link {
  position: relative;
  width: 100%;
}

.header nav .logo-link .logo {
  width: 180px;
  height: 100%;
  position: relative;
  object-fit: cover;
}

.header nav .right-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  width: 80%;
}

.header .intro span {
  font-size: 1.1rem;
  font-weight: normal;
  color: darkslategrey;
  transition: all 0.3s;
}
.header .intro span:hover {
  cursor: pointer;
  color: #047aed;
}
main {
  margin-top: 1rem;
}

.title {
  background: linear-gradient(rgba(15, 15, 35, 0.6), rgba(15, 15, 35, 0.6)),
    url('./images/bg-img.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: local;
  padding: 3rem 1rem;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.title h1 {
  text-align: center;
  padding: 1rem 0;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}

.title p {
  color: aliceblue;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  width: 60%;
  line-height: 1.7;
  position: relative;
  margin: 1rem auto;
  margin-bottom: 2rem;
}
.button {
  position: relative;
  margin-top: 1rem;
  width: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  text-decoration: none;
  position: relative;
  border: none;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  font-size: 16px;
  font-weight: capitalize;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 28px;
  margin: 1rem auto;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
}

button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

button:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

button:hover::before {
  filter: blur(20px);
}

button:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

.links-tab {
  width: 100%;
  position: relative;
  background: aliceblue;
  margin: 0 auto;
}

.links-tab .flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  width: 70%;
  margin: 1rem auto;
}

.flex-row .tab-link {
  text-decoration: none;
  color: #555;
  font-size: 1rem;
  font-weight: normal;
  transition: all 0.3s;
  position: relative;
  cursor: pointer;
}

.flex-row .tab-link::after {
  content: '';
  width: 0;
  height: 5px;
  background: #20a2aa;
  bottom: -8px;
  position: absolute;
  left: 0;
  transition: 0.5s;
}

.flex-row .tab-link.active-link::after {
  width: 50%;
}

.flex-container .section.active-tab {
  display: block;
}

.flex-container {
  width: 100%;
  position: relative;
  background: aliceblue;
  margin: 4rem auto;
}

i.fa-chevron-left {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 0;
  background: #ff4423;
  color: #fff;
  font-size: 1.8rem;
  border: none;
  border-top-left-radius: 22px;
  padding: 10px;
  border-bottom-left-radius: 22px;
}

.flex-container .section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 40%;
  grid-gap: 1.5rem;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  display: none;
}

.flex-container .section img {
  position: relative;
  width: fit-content;
  height: 100%;
  margin: 1rem auto;
  object-fit: cover;
  text-align: center;
  background: #b4becb;
  border-radius: 3px;
  border: none;
  padding: 2rem;
  display: block;
}

footer {
  background: aliceblue;
  border-top: 1px solid #b4becb;
  padding: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  align-items: center;
  margin-top: 2rem;
}
footer p {
  font-size: 1rem;
  color: #555;
  padding: 10px;
  text-align: center;
}

.right-items-mobile {
  display: 'none';
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1888; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-box {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #f4f4f4;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #b4becb;
  padding: 10px 5px;
  position: absolute;
  z-index: 1;
  top: 122%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext a {
  text-decoration: none;
  color: #333;
  line-height: 1.7;
  padding: 5px 0;
  font-size: 0.95rem;
  font-weight: normal;
}

/*========================= Media query for styles ==============================*/
@media only screen and (max-width: 689px) {
  .right-items-mobile {
    display: flex;
    flex-direction: column !important;
    text-align: center;
    background: rgb(218, 230, 240);
    display: initial;
    height: 100vh;
    width: 200px;
    position: absolute;
    top: 10.8%;
    z-index: 1444;
    padding-top: 5rem;
    left: -1000px;
    transition: left 0.5s ease-in;
  }

  .right-items-mobile.active {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    background: rgb(218, 230, 240);
    display: initial;
    height: 100vh;
    width: 200px;
    position: absolute;
    top: 10.8%;
    z-index: 1444;
    left: 0;
    transition: left 0.5s ease-in-out;
  }

  .right-items-mobile .links {
    color: #333;
    font-size: 1.2rem;
    padding: 1rem;
    margin-bottom: 3rem;
    font-weight: normal;
  }
  .header nav {
    gap: 1.2rem;
    width: 100%;
  }
  .header nav .right-items {
    display: none;
  }
  .header nav i {
    display: initial;
  }
  .title p {
    width: 100%;
  }

  .links-tab {
    position: relative;
  }

  .fa-chevron-left {
    display: initial;
  }

  .links-tab .flex-row {
    gap: 1.5rem;
    width: 50%;
    position: absolute;
    left: 0;
    display: none;
    top: 10px;
    min-height: 100vh;
    background: darkseagreen;
    padding: 1.5rem 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-direction: column;
    margin: 14px auto;
    z-index: 888;
  }

  .links-tab .flex-row.content_active {
    display: block;
  }
  .flex-row .tab-link {
    color: #fff;
    margin: 3rem auto;
  }

  .flex-row .tab-link::after {
    background: aliceblue;
  }

  .flex-container .section {
    width: 70%;
  }
}
